.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: white;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__left {
  flex: 0.9;
}

.empty__basket {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .empty__basket {
    width: 90%;
    margin: 0;
    padding: 20px;
  }
  .checkout {
    flex-direction: column;
  }
  .checkout__right {
    display: flex;
    justify-content: center;
  }
}
