.header{
    display: flex;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,73,143,1) 35%, rgba(0,212,255,1) 100%);
    position: sticky;
    top: 0;
    z-index: 100;
    min-width: auto;
}

.header__logo{
    img{
        height: 40px;
        margin: 0 30px;
        margin-top: 18px;
    }
}

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 12px;
    padding:10px;
    border: none;
    min-width: 50px;
    width: 100%;
   
}

input:focus{
    outline: none;
}

.header__searchIcon{
    background-color: #cd9042;
    padding: 4px;
}



.header__nav{
    display: flex;
    justify-content: space-evenly;
    

}

.header__link{
    color: white;
    text-decoration: none;  
}

.header__option{
    display: flex;
    flex-direction: column;
    padding: 11px;
   
}

.header__optionLineOne{
    font-size:10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: bold;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header__basketCount{
    margin: 0px 10px;
}
